.sidebar{
  position: fixed;
  top: 50px;
  left: 20px;
  width: 300px;
  padding: 30px;
  opacity: .1;


  z-index: 1;

}

.sidebar:hover{
  opacity: 1;
}

.sidebar > ul > li{
  color: rgba(0, 0, 0, 0.7);
}

.sidebar li{
  font-size: 14px;
  line-height: 15px;
  margin-top: 11px;
}

.sidebar > ul > li > ul > li{
  color: rgba(0, 0, 0, 0.4);
  margin-left: 10px;
}

.sidebar > ul > li:first-child{
  font-weight: bold;
  color: black;
  margin-top: -11px;
}

@media screen and (max-width: 1368px) {
  .sidebar {
    display: none;
  }
}
